<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 mt-3">
      <div class="card cardFix">
        <div class="card-body">
          <h5 class="card-title">Event: Gaza1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date: 2/272/2019</h6>
          <div>
            <span class="card-subtitle mb-2">Time: 5:00am</span>
            <span> (Early Start)</span>
            <span> (Late Start)</span>
            <span> (Normal Start)</span>
          </div>
          <p class="card-text">Price : 80$</p>
          <p class="card-text">Attendance Numbers : 1000</p>
          <p class="card-text">
            Address: Alshuhda St, Gaza City, Palestine.
          </p>
          <p class="card-text">
            Online URL: http://visionplus.ps
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-3">
      <div class="card cardFix">
        <div class="card-body">
          <h5 class="card-title">Event: Gaza2</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date: 2/272/2019</h6>
          <div>
            <span class="card-subtitle mb-2">Time: 5:00am</span>
            <span> (Early Start)</span>
            <span> (Late Start)</span>
            <span> (Normal Start)</span>
          </div>
          <p class="card-text">Price : 80$</p>
          <p class="card-text">Attendance Numbers : 1000</p>
          <p class="card-text">
            Address: Alshuhda St, Gaza City, Palestine.
          </p>
          <p class="card-text">
            Online URL: http://visionplus.ps
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-3">
      <div class="card cardFix">
        <div class="card-body">
          <h5 class="card-title">Event: Gaza3</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date: 2/272/2019</h6>
          <div>
            <span class="card-subtitle mb-2">Time: 5:00am</span>
            <span> (Early Start)</span>
            <span> (Late Start)</span>
            <span> (Normal Start)</span>
          </div>
          <p class="card-text">Price : 80$</p>
          <p class="card-text">Attendance Numbers : 1000</p>
          <p class="card-text">
            Address: Alshuhda St, Gaza City, Palestine.
          </p>
          <p class="card-text">
            Online URL: http://visionplus.ps
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-3">
      <div class="card cardFix">
        <div class="card-body">
          <h5 class="card-title">Event: Gaza4</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date: 2/272/2019</h6>
          <div>
            <span class="card-subtitle mb-2">Time: 5:00am</span>
            <span> (Early Start)</span>
            <span> (Late Start)</span>
            <span> (Normal Start)</span>
          </div>
          <p class="card-text">Price : 80$</p>
          <p class="card-text">Attendance Numbers : 1000</p>
          <p class="card-text">
            Address: Alshuhda St, Gaza City, Palestine.
          </p>
          <p class="card-text">
            Online URL: http://visionplus.ps
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
